@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar{
  display: none;
}
body{
  scroll-behavior: smooth;
}

#table::-webkit-scrollbar{
  display: none;
}

#case-container {
  width: 100%;
  height: fit-content;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  background-image: url("./assets/asset 45.png");
  background-size: 100% 100%;
}

.navbar-scrolled {
  background: rgba(0, 0, 0, 0.45);
}